body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(184, 8, 8);
}

/* This ensures that the navbar has a black background */
.navbar-dark.bg-dark {
    background-color: #000 !important; /* Black color */
}

.navbar-brand img {
    height: 50px; /* or your desired size */
    width: auto;
    margin-right: 10px; /* Adds some space between the logo and the brand name */
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    opacity: 0.5; /* Lower opacity for non-active images */
    transition: opacity 0.5s ease;
}

.carousel-inner .active img {
    opacity: 1; /* Full opacity for active image */
    transform: scale(1.1); /* Slightly larger scale for main image */
}

#menuSection {
    display: flex;
    flex-direction: column;  /* Aligns children (text, etc.) vertically */
    justify-content: flex-start;  /* Aligns content to the top */
    align-items: center;  /* Centers content horizontally */
    height: 100vh;
    padding-top: 50px;  /* Adds space at the top, adjust as needed */
    background: url('https://raw.githubusercontent.com/nodrinksonthepiano/Maxons/main/main/pics/MaxonsLogo2016.webp') no-repeat center center;
    background-size: contain;  /* Adjust size as needed */
    color: #fff;  /* Ensures text is visible on darker backgrounds */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);  /* Adds a shadow to text for better readability */
}

h2 {
    font-size: 2.5rem; /* Example size, adjust based on your design needs */
    z-index: 2;  /* Ensures the text stays on top of the background image */
}



footer {
    background: #000000;
    padding: 20px;
    color: white;
    text-align: center;
}
