body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(184, 8, 8);
}

.navbar-dark.bg-dark {
    background-color: #000 !important;
}

.navbar {
    justify-content: flex-start;
}

.navbar-brand {
    margin-right: 30px;
}

.phone-number {
    color: rgb(47, 86, 191);
    font-size: 1.1rem;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1050;
}

/* Adjusted media query for phone-number visibility */
@media (max-width: 991px) {
    .phone-number {
        position: static;
        margin-right: 20px;
        transform: none;
        text-align: right;
        display: block; /* Ensures it's always visible */
    }
}

.header-logo-container {
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}

.header-logo {
    width: 80%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    margin-top: -20px;
    transition: width 0.5s ease;
}

@media screen and (max-width: 600px) {
    .header-logo {
        width: 90%;
        margin-top: -10px;
    }
}

.hours-container {
    overflow: hidden;  /* Hides anything outside this container */
    white-space: nowrap;  /* Keeps the text in a single line */
    width: 100%;  /* Full width of the container */
    position: relative;
    height: 24px;  /* Adjust based on your design needs */
}

.hours {
    display: inline-block;
    padding-left: 100%;  /* Start the text off-screen */
    animation: scroll-hours 15s linear infinite;  /* Adjust time for speed */
}

@keyframes scroll-hours {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);  /* Moves the text from right to left */
    }
}

.carousel-item {
    position: relative;
    width: 100%;
    padding: 70px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    transition: opacity 0.5s ease;
}

.carousel-inner .active img {
    opacity: 1;
}

#reviewsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    padding-top: 1px;
    padding-bottom: 70px;
    background-size: cover;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 1.5rem;
}

.family-photo-container {
    padding-top: 70px;  /* Top padding */
    padding-bottom: 70px;  /* Bottom padding */
    box-sizing: border-box;
}

footer {
    background: url('https://raw.githubusercontent.com/nodrinksonthepiano/Maxons/main/main/pics/MaxonsOutsideSunset1.jpeg') no-repeat center center;
    background-size: auto 300; /* Enlarges the image to cut off the top and bottom */
    padding: 40px;
    color: white;
    text-align: center;
}
